@import './base.less';

// -----ANT DESIGN OVERRIDE-----

// LAYOUT
.ant-layout-header {
    background-color: @dark-color!important;
    height: @header-menu-height!important;
    line-height: @header-menu-height!important;
    padding: 0!important;
    position: sticky!important;
    top:0;
    z-index: 100;
    width: 100%;
}

.ant-layout-footer {
    background-color: @dark-color!important;
    height: @footer-menu-height!important;
    line-height: @footer-menu-height!important;
    padding: 0!important;
    bottom:0;
    z-index: 100;
    width: 100%;
}

// MENU
.ant-menu {
    background-color: transparent!important;
    line-height: @header-menu-height!important;
}

.ant-menu-item {
    color: @light-color!important;
}

.ant-menu-item:hover {
    color: @secondary-color!important;
}

.ant-menu-item-selected{
    background-color: inherit!important;
    color: @primary-color!important;
}

// BUTTON
.ant-btn{
    // font-size: 16px!important;
    font-weight: 600!important;
    border-color: @light-color!important;
    border-radius: 20px!important;
    border-width: 2px!important;
    height: auto!important;
    text-shadow: none!important;
    box-shadow: none!important;
}

.ant-btn:hover {
    color: @light-color!important;
    background-color: @primary-color!important;
}

.ant-btn-primary {
    color: @primary-color!important;
    border-color: @primary-color!important;
    background-color: @light-color!important;
}

.ant-btn-primary:hover {
    color: @light-color!important;
    background-color: @primary-color!important;
}

.ant-btn-secondary {
    color: @secondary-color!important;
    border-color: @secondary-color!important;
    background-color: @light-color!important;
}

.ant-btn-secondary:hover {
    color: @light-color!important;
    background-color: @secondary-color!important;
}