@import './base.less';

// -----ANT DESIGN OVERRIDE-----
// LAYOUT

.ant-layout-header {
    // background-color: transparent!important;
    height: @menu-height!important;
    padding: 0!important;
    position: fixed;
    width:100%;
}

// MENU
.ant-menu {
    background-color: transparent!important;
    line-height: @menu-height!important;
}

.ant-menu-item-selected{
    background-color: @almost-transparent!important;
}

// BUTTON
.ant-btn-primary {
    color: @primary-color!important;
    border-color: @primary-color!important;
}

.ant-btn-secondary {
    color: @secondary-color!important;
    border-color: @secondary-color!important;
}