@import "./base.less";

// ANT DESIGN OVERRIDE
.ant-layout {
    background-color: @white-color!important;
}

.ant-layout-footer {
    background-color: @white-color!important;
}

.ant-layout-footer {
    padding:12px!important;
}