@import "./antd-custom.less";

// -----GLOBAL STYLESHEET-----

// DEFAULT 
body {
  font-family: "SF Pro Text", "SF Pro Icons", system-ui;
  margin: 0 auto;
}

.page {
  width: 100%;
  // min-height: 100vh;
  min-height: calc(100vh - @header-height);
}

.header{
  height: @header-height!important;
  padding: 0!important;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content {
  margin-top: @header-height;
}

.bold {
  font-weight: bold;
}

.title{
  // XS
@media (max-width: 576px) {
    font-size: 32px;
  }
  // SM
@media(min-width: 576px) {
    font-size: 48px;
  }
  // LG
@media (min-width: 992px) {
    font-size: 64px;
  }
  // xxl
@media (min-width: 1600px) {
    font-size: 80px;
  }
}

// DISPLAY
.vh-100{
  height: 100vh;
}

.min-h-100{
  min-height: 100%;
}

.min-vh-100{
  min-height: 100vh;
}

.p-absolute{
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

.overflow-hidden {
  overflow: hidden;
}

// COLOR
.text-primary {
  color: @primary-brand!important;
}

.text-secondary {
  color: @secondary-brand!important;
}

.text-dark {
  color: @dark-color!important;
  
}
.text-white {
  color: @white-color!important;
}

.bg-primary {
  background-color: @primary-brand!important;
}

.bg-secondary {
  background-color: @secondary-brand!important;
}
