@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&css');
@import './base.less';

// -----GLOBAL STYLESHEET-----

// DEFAULT
body {
  font-family: 'Poppins', system-ui!important;
  font-weight: 600;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

span, p, h1, h2, h3, h4, h5, h6 {
  z-index: 10;
  margin-bottom: 0!important;
}

h1, h2, h3, h4 {
  font-weight: 800!important;
}

h5, h6 {
  font-weight: 600!important;
}

h1 {
  font-size: 54px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}

a {
  color: @primary-color!important;
  :hover {
    color:@secondary-color!important;
  }
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap!important;
  overflow: auto;
  div{
    display: flex;
    white-space: nowrap;
  }
  // XS
  @media (max-width: 576px) {
    margin: 0;
  }
  // SM
  @media(min-width: 576px) {
    margin: 0;
  }
  // LG
  @media (min-width: 992px) {
    margin: 0 80px;
    }
  // XXL
  @media (min-width: 1600px) {
    margin: 0 160px;
    }
}

.page {
  min-height: calc(100vh - @header-menu-height - @footer-menu-height);
  background-color: @light-color;
  width: 100%;
}

.logo img {
  margin: 5px;
  height: 100%;
  max-height: calc(@header-menu-height - 10px);
}

.logo-title {
  @media (max-width: 576px) {
    display: none;
  }
}

// DISPLAY
.h-100{
  height: 100%;
}

.min-h-100{
  min-height: 100%;
}

.min-vh-100{
  min-height: 100vh;
}

.vh-100{
  height: 100vh;
}

.w-100{
  width: 100%;
}

.m-auto {
  margin : auto;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

// COLOR
.bg-primary {
  background-color: @primary-color!important;
}

.bg-secondary {
  background-color: @secondary-color!important;
}

.bg-dark {
  background-color: @dark-color!important;
}

.bg-light {
  background-color: @light-color!important;
}

.text-primary {
  color: @primary-color!important;
}

.text-secondary {
  color: @secondary-color!important;
}

.text-dark {
  color: @dark-color!important;
}

.text-light {
  color: @light-color!important;
}

.overlay{
  transition:.3s all ease-in-out;
  background: @dark-color;
  top: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  height: 100%;
  width: 100%;
}

// UNDERLINE
.underline{
  position: relative;
}

.underline:after {
  position: absolute;
  z-index: -5;
  content: '';
  height: 12px;
  bottom: 6px; 
  left: 0;
  right: 0;
  transition: 0.5s ease all;
  background-color: @light-color;
}

.underline-primary:after{
  background-color: @primary-color;
}
.underline-secondary:after{
  background-color: @secondary-color;
}

// SCROLLBAR
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px @light-color;
	background-color: @light-color;
}
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: @primary-color;
}
::-webkit-scrollbar-thumb
{
	background-color: @dark-color;
}

// -----PAGES-----

// HEROES
.heroes{
  min-height: calc(100vh - @header-menu-height);
}

.fox {
  margin: auto!important;
  height: 100%;
  // XS
  @media (max-width: 576px) {
    max-height: 400px;
  }
  // SM
@media(min-width: 576px) {
    height: 500px;
  }
  // LG
@media (min-width: 992px) {
    height: 600px;
  }
}

.row-title-container{
  @media (max-width: 576px) {
    margin: 30px 0;
  }
  // SM
  @media(min-width: 576px) {
    margin: 30px 0;
  }
  // LG
  @media (min-width: 992px) {
    margin: 40px 0;
    }
  // XXL
  @media (min-width: 1600px) {
    margin: 170px 0;
    }
}

.title-container {
  width: 100%;
  // XS
  @media (max-width: 576px) {
    margin: 0 5%;
  }
  // SM
  @media(min-width: 576px) {
    margin: 0 10%;
  }
  // LG
  @media (min-width: 992px) {
    margin: 0 15%;
    }
  // XXL
  @media (min-width: 1600px) {
    margin: 0 15%;
    }
}

.title{
font-weight: 800;
color: @light-color;
text-align: center;
z-index: 10;
  // XS
  @media (max-width: 576px) {
    margin: 100px 0;
    font-size: 48px;
  }
  // SM
  @media(min-width: 576px) {
    margin: 120px 0;
    font-size: 64px;
  }
  // LG
  @media (min-width: 992px) {
    margin: 130px 0;
      font-size: 96px;
    }
  // XXL
  @media (min-width: 1600px) {
    margin: 0;
    }
}

.subtitle{
  font-weight: 800;
  color: @dark-color;
  text-align: center;  
  // XS
  @media (max-width: 576px) {
      font-size: 16px;
    }
  // SM
  @media(min-width: 576px) {
      font-size: 24px;
    }
  // LG
  @media (min-width: 992px) {
      font-size: 32px;
    }
  }

  .uppercase {
    text-transform: uppercase;
  }  

  .carousel-container-top-title {
  // XS
  @media (max-width: 576px) {
    margin: 20px;
  }
  // SM
  @media(min-width: 576px) {
    margin: 20px 48px;
    }
  // LG
  @media (min-width: 992px) {
    margin: 40px 96px;
    }
  }

  .carousel-container-image {
    width: 100%;
    max-width: 300px;
  }

  .footer-icon {
    font-size: 24px;

    // XS
  @media (max-width: 576px) {
    margin: auto 12px;
  }
  // SM
  @media(min-width: 576px) {
    margin: auto 24px;
  }
}

// ----------CAROUSEL-CARD----------
.caroussel-card {
  height: 400px;
  background-color: #bbbbbb!important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.caroussel-card-info {
  color: @light-color;
  background-color: rgba(0, 0, 0, 0.5);
}

.caroussel-card:hover .caroussel-card-info{
  height:100%;  
  .caroussel-card-description{
    padding:0 24px 24px;
  }
}

.caroussel-card-name {
  color:@light-color;
  margin: 0;
  padding: 24px;
}

.caroussel-card-description {
  height: 0;
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

// ----------MAPS----------
.map {
  min-height: 400px;
  height: calc(100vh - (@header-menu-height + @footer-menu-height + 80px));
  // 80px : height of h1 title : "La carte"
  width: 100%;
 // XS
 @media (max-width: 576px) {
  height: 400px;
  }
}